.logo .turning__star {
    color: var(--orange)
}

p {
    white-space: inherit
}

section {
    width: 100%;
    height: auto;
    margin: 2rem 0
}

section>div {
    max-width: 80%
}

.home__hero {
    width: 60%;
    height: auto;
    position: relative
}

.home__hero__lunettes__img {
    z-index: 2;
    position: relative;
    -webkit-aspect-ratio: 2/1;
    aspect-ratio: 2/1;
    overflow: hidden
}

.home__hero__img {
    position: absolute;
    top: 0;
    left: 2%;
    width: 50%;
    height: 100%;
    -webkit-aspect-ratio: 1/1;
    aspect-ratio: 1/1;
    clip-path: circle(49%)
}

.home__p__container {
    width: 100%;
    margin-top: 3rem
}

.home__p {
    font-weight: 600;
    width: auto;
    white-space: pre-line
}

/* creators */

.creators {
    margin: 6rem 0 5rem 0;
}

.creators p {
    margin: 1rem 0;
    white-space: pre-line;
}

.creators a {
    font-weight: 500;
    -webkit-transition: var(--quick-transition);
    transition: var(--quick-transition);
}

.creators a:hover {
    color: var(--red);
}

footer .footer__txt__container p {
    white-space: nowrap;
}

@media screen and (min-width:550px) {
    section>div {
        max-width: 70%
    }
}

@media screen and (min-width:950px) {
    p {
        white-space: pre-line
    }

    section>div {
        max-width: 55%
    }
}

@media screen and (min-width:1650px) {
    section>div {
        max-width: 40%
    }

    .home__hero {
        width: 80%
    }

    p {
        margin: 4rem 0
    }

    .home__p {
        margin-bottom: 0;
    }
}