.burger_container .burger .bar {
    background: var(--black);

    &::before,
    &::after {
        background: var(--black);
    }
}

section {
    width: 100%;
    text-align: center;
}

.section__contact__map {
    height: 60%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

p {
    margin: 0;
}

.contact__title {
    font-weight: 500;
}

input,
textarea {
    border-radius: 5px;
    border: unset;
    background-color: var(--light-grey);
    padding: 6px;
    font-size: 1.6rem;
    // letter-spacing: 1;
}

input {
    height: 25px;
}

.contact__details {
    padding-bottom: 2rem;

    .contact__details__container,
    .contact__details__content {
        width: 100%;
        flex-direction: column;
    }

    .contact__details__txt {
        width: 85%;
        margin-bottom: .3rem;
    }
}

.error__container {
    color: red;
    display: none;
}

#error {
    width: 0%;
    height: 0%;
    pointer-events: none;
    opacity: 0;
}

#error.active {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.contact__form {
    .contact__form__container {
        width: 80%;
        flex-direction: column;

        .wrapper {
            width: 100%;
            row-gap: 1rem;

            .contact__form__input {
                width: 100%;
                // padding-inline: 1rem;
                display: flex;

                label {
                    white-space: nowrap;
                    width: 22%;
                }

                input {
                    width: 78%;
                }

            }

            .contact__form__p__container {
                width: 100%;
                max-width: 100%;
                height: auto;
                margin-block: 1rem;

                p {
                    height: auto;
                    // max-width: 95%;
                    white-space: pre-line;
                }
            }

            .contact__form__txt {
                margin-bottom: 2rem;
                width: 100%;
                overflow: visible;

                textarea {
                    width: 100%;
                }
            }

            .contact__form__name__container {
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: .7rem;

                input {
                    margin-bottom: .5rem;
                }
            }

            .contact__form__btn__container {
                width: 100%;
                min-height: 50px;
                margin-bottom: 1.5rem;

                .contact__form__btn {
                    cursor: pointer;
                    width: 35%;
                    padding: 1rem 2rem;
                    border: 1px solid var(--black);
                    border-radius: 30px;
                    color: var(--black);
                    font-size: 2rem;
                    margin-top: 2.5rem;
                }
            }
        }

    }

}

@media screen and (min-width:700px) {
    .contact__form__input {
        justify-content: center;

        label.label.label__first.d-flex {
            justify-content: end;
            margin-right: 1rem;
            width: unset;
        }

        input#name {
            width: 80%;
        }
    }
}

@media screen and (min-width:1050px) {
    section {
        max-width: 80%;
        margin: 0 auto;
    }

    .contact__form__input {
        justify-content: center;

        label.label.label__first.d-flex {
            justify-content: end;
            margin-right: 1rem;
            width: unset;
        }

        input#name {
            width: 50%;
        }
    }


    .section__contact__map {
        height: auto;
        margin-bottom: 3rem;
    }

    .section__contact__map .contact__map {
        object-fit: contain;
        height: auto;
    }

    .contact__details {
        margin-bottom: 3rem;
    }

    main .contact__form .contact__form__container .wrapper .contact__form__p__container p {
        white-space: pre-line;
        max-width: 80%;
    }

    main .contact__form .contact__form__container .wrapper .contact__form__name__container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;

        label {
            width: 40%;
            justify-content: end;
            display: flex;
            margin-right: 1rem;
        }

        input {
            width: 50%;
        }

    }

    input,
    textarea {

        &:active,
        &:focus,
        &:focus-visible {
            box-shadow: 0 0 1px var(--black);
            outline: unset;
        }
    }
}