.ig-content {
    width: 100%;
}

.ig-content__container {
    padding: 5rem;
    flex-direction: column;
    width: 100%;
}

.ig-feed {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 4rem 2rem;
}

.instagram-post {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
    transition: var(--quick-transition);
    flex: 1;
}

.instagram-post img {
    scale: 1;
    transition: var(--quick-transition);
}

@media screen and (min-width:1399px) {
    .instagram-post img {
        filter: grayscale(100%);
    }

    .instagram-post:hover img {
        filter: grayscale(0);
    }
}

@media screen and (max-width:499px) {
    .ig-feed {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:899px) {
    .ig-feed {
        grid-template-columns: repeat(2, 1fr);
    }
}

.ig__post__icon {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 10%;
    height: 10%;
    pointer-events: none;
    z-index: 2;
    pointer-events: none;
    transition: var(--quick-transition);
    opacity: 0;
    color: var(--white);
    fill: var(--white);
}

.instagram-post:hover .ig__post__icon,
.instagram-post:focus .ig__post__icon {
    opacity: 1;
}

.instagram-post:hover img,
.instagram-post:focus img {
    scale: 1.03;
}