.ig-content {
    width: 100%;
    max-width: 100%;
    margin: 2rem 0 4rem 0;
}

.ig-content__container {
    padding: 3rem 0rem;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

.container {
    max-width: unset;
}

.ig-feed {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 4rem 1rem;
    padding: 0 2rem;
}

.instagram-post {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
    transition: var(--quick-transition);
    border-radius: 15px;
}

.instagram-post img {
    scale: 1;
    transition: var(--quick-transition);
}

@media screen and (min-width:599px) {
    .ig-feed {
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        padding: 0 3rem;
    }

    .ig-content__container {
        padding: 3rem 5rem;
    }
}

@media screen and (min-width:1399px) {
    .ig-feed {
        grid-template-columns: repeat(5, 1fr);
        padding: 0;
        width: 85%;
    }

    .ig__post__icon {
        opacity: 0;
    }

    .instagram-post:hover .ig__post__icon,
    .instagram-post:focus .ig__post__icon {
        opacity: 1;
    }
}



.ig__post__icon {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 10%;
    height: 10%;
    pointer-events: none;
    z-index: 2;
    pointer-events: none;
    transition: var(--quick-transition);
    color: var(--white);
    fill: var(--white);
}

.instagram-post:hover img,
.instagram-post:focus img {
    scale: 1.03;
}


/* show more button */

.ig__show__more__button {
    background: none;
    border: unset;
    cursor: pointer;
    text-decoration: underline;
}

.ig__show__more__button.hidden {
    display: none;
}