/* base */

:root {
    --main-color: #000;
    --text-color: #000;
    --light-color: #EEE;
    --white: #fff;
    --black: #000;
    --red: #FF4438;
    --grey: #333333;
    --header-height: 145px;
    --mobile-header-height: 115px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* .eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

h1,
h2,
h3,
H4,
h5,
h6 {
    color: var(--text-color);
    line-height: 1.1;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container p {
    max-width: 90%;
}

@media screen and (min-width:751px) {

    .container,
    .header-container,
    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
        margin-bottom: 7rem;
    }
}

@media screen and (max-width:750px) {
    .container {
        justify-items: center;
        display: grid;
        padding: 0 1rem;
        margin-bottom: 7rem;
    }
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

.grid {
    display: grid;
    justify-items: center;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.d-flex {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section_title {
    margin-bottom: 4rem;
}

.absoluted {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

@media screen and (min-width:751px) {
    .section_title {
        margin-bottom: 9rem;
    }
}

/* #loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
    background-color: var(--white);
    z-index: 0;
    transition: opacity .5s ease;
    overflow: hidden;
}

#loader.is-loading {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    z-index: 100;
    overflow: hidden;
}

#loader img {
    position: fixed;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    height: 50px;
    width: 50px;
}

#loader.is-loading img{
    position: fixed;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    height: 50px;
    width: 50px;
    animation: rotatingStar 2s infinite;
}

@keyframes rotatingStar {
    0% {
        transform: rotate(0deg);
    }
    
    94% {
        transform: rotate(363deg);
    }

    97% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

/* header */

header {
    position: fixed;
    width: 100%;
    color: var(--light-color);
    z-index: 5;
    top: 0;
    background: transparent;
    padding: 1rem 0;
    padding: 3rem 0;
}

.header-container,
.footer-container {
    max-width: 1200;
    margin: 0 auto;
    padding: 1rem 2.2rem;
}

header.show-nav .burger .bar::after, header.show-nav .burger .bar::before{
    background: white;
}

.logo {
    max-width: 100px;
    height: 35px;
    width: 100px;
    color: white;
    z-index: 5;
}

.logo svg{
    color: white;
    fill: #ffffff;
    height: auto;
    width: 180px;
}

.logo_pic {
    height: 58px;
    max-width: none;
}

.logo a h2 {
    color: var(--light-color)!important;
}

.menu-list li {
    margin: 0 7px;
}

.menu-list li a {
    color: var(--light-color);
}

.header_right {
    display: flex;
}

.socials,
.icon-container {
    display: flex;
}

/* suppr pr le moment le socials */


.header_right .socials {
    display: none;
}

/* fin de suppr pr le moment  */


.socials li {
    margin: 3px 4px;
    max-width: 25px;
}

.socials li a svg {
    height: 25px;
    width: 25px;
    fill: var(--black);
}

.burger_container {
    position: absolute;
    right: 2em;
    top: 3em;
    z-index: 4;
}

.burger {
    background: none;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: relative;
}

.burger .bar {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--light-color);
}

.burger .bar::before,
.burger .bar::after {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--light-color);
    content: "";
    position: absolute;
}

.burger .bar::before {
    transform: translateY(-8px);
}

.burger .bar::after {
    transform: translateY(8px);
}

@media screen and (min-width:2000px) {
    header {
        padding-top: 8rem;
    }

    .logo svg{
    width: 220px;
}
}

@media screen and (max-width:1999px) {
    header {
        padding-top: 7rem;
    }

    .logo svg{
    width: 200px;
}
}

@media screen and (max-width:1500px) {
    header {
        padding: 5rem 0;
    }
}

@media screen and (max-width:750px) {
    header {
        padding: 3rem 0 3rem;
    }

    .burger_container {
    position: absolute;
    right: 2em;
    top: 4em;
    z-index: 4;
    }
}

    .navbar {
        position: fixed;
        width: 0%;
        height: 100vh;
        left: 140%;
        opacity: 0;
        background: var(--main-color);
        top: 0;
        z-index: 4;
        transition: all .6s;
        box-shadow: -5px 0 50px var(--grey);
    }

    .show-nav .navbar {
        right: 0;
        opacity: 1;
        width: 100%;
        left: 0;
    }

    .menu-list {
        flex-direction: column;
    }

    nav .menu-list li {
        display: flex;
        justify-content: center;
    }

    nav .menu-list a {
        display: block;
        font-size: 2rem;
        padding: 2rem;
        transition: all .4s;
        transition-delay: opacity .4s;
    }

    .show-nav .burger .bar {
        width: 0;
    }

    .burger .bar::before,
    .burger .bar::after {
        transition: all 0.3s ease-out;
    }

    .show-nav .burger .bar::before {
        transform: rotate(45deg);
    }

    .show-nav .burger .bar::after {
        transform: rotate(-45deg);
    }

    .header-container {
        max-width: none;
        width: 100%;
    }

/* body */

/* skills */



.grid_item {
    max-width: 50%;
    padding: 0.5rem;
}

.card {
    border: 1px solid var(--light-color);
    padding: 1rem;
    border-radius: 15px;
    display: grid;
    justify-items: center;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.skill_pic {
    max-width: 100px;
}

/* contact */

.contact-p {
    max-width: 600px;
    text-align: center;
    margin: 0 auto 2rem auto;
}

.form {
    margin: 1rem auto 2rem auto;
    max-width: 600px;
}

.form input,
.form textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 4rem;
}

.form textarea {
    min-height: 200px;
}

.form .btn {
    background: #000;
    color: #ffffff;
    width: auto;
    min-width: 170px;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    transition: all .4s ease-out;
    margin-top: 1.5rem;
}

.contact-btn-container {
    display: flex;
    justify-content: center;
}

.form .btn:hover {
    cursor: pointer;
    background: #D8AC49;
}

.contact-names {
    display: flex;
    justify-content: space-between;
}

#contact-fn {
    width: 48%;
}

#contact-ln {
    width: 48%;
}

@media screen and (max-width: 750px) {
    .contact-p {
        max-width: 90%;
    }

    .contact form {
        max-width: 90%;
    }
}

.contact_btn {
    border: 2px solid;
    width: 100%;
    text-transform: uppercase;
    background: none;
    cursor: pointer;
}

/* footer */

footer {
    border-top: 1px solid var(--light-color);
}

footer p {
    margin: 0;
    padding: 0;
}

.footer-container {
    min-width: 100%;
    flex-direction: column;
}

.top__footer {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.left-footer {
    flex-direction: column;
    width: 100%;
}

.footer__logo {
    width: 100%;
    height: fit-content;
    margin-bottom: 1.5rem;
}

.right-footer h3{
    margin-bottom: 1rem;
}

.bottom-footer {
    padding: 2rem 0;
}

@media screen and (min-width: 750px) {
    .top__footer {
    width: 100%;
    flex-direction: row;
}

.left-footer {
    flex-direction: row;
    width: 50%;
}

.right-footer {
    width: 50%;
    text-align: right;
}

.right__footer__container {
    max-width: 50%;
}
}   