/* base */
H4,
a,
body,
h1,
h2,
h3,
h5,
h6 {
    color: var(--text-color)
}

.d-flex,
.grid {
    text-align: center
}

header,
header.show-nav .burger .bar::after,
header.show-nav .burger .bar::before {
    background: #fff
}

.logo,
.logo a,
.show-nav .logo a .turning__star,
.show-nav .logo>a .logo__svg {
    -webkit-transition: var(--header-transition);
    transition: var(--header-transition)
}

:root {
    --main-color: #000;
    --text-color: #000;
    --light-color: #EEE;
    --white: #fff;
    --black: #000;
    --red: #FF4438;
    --light-grey: #f1f1f1;
    --grey: #333333;
    --brown: #522c6d;
    --blue: #626eac;
    --green: #008098;
    --orange: #a8aa2c;
    --header-height: 155px;
    --mobile-header-height: 115px;
    --header-transition: all .6s ease-out;
    --smooth-transition: all .6s ease-out;
    --quick-transition: all .3s ease-out;
    --long-transition: all 1s ease-out;
    --delayed-transition: all .3s ease-out .6s;
    --footer-width: 70%
}

@media screen and (min-width:550px) {
    :root {
        --footer-width: 40%;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
}

img::-ms-image-rect {
    display: none;
}

video:focus {
    outline: none;
}

a,
button,
input,
span,
textarea,
div {
    -webkit-tap-highlight-color: transparent
}

html {
    font-size: 62.5%
}

body,
footer h1 {
    font-size: 1.6rem
}

body {
    line-height: 1.6;
    font-family: Montserrat, sans-serif;
    margin: 0
}

H4,
h1,
h2,
h3,
h5,
h6 {
    line-height: 1.1
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0
}

.container p {
    max-width: 90%
}

@media screen and (min-width:751px) {

    .container,
    .footer-container {
        max-width: 1200px
    }
}

/* font-size tablette  */

@media screen and (min-width:550px) and (max-width:1200px) {

    html body,
    header nav .menu-list a,
    footer h1 {
        font-size: 2.4rem;
    }

}

a {
    text-decoration: none
}

img {
    max-width: 100%;
    pointer-events: none;
    height: auto
}

.grid {
    display: grid;
    justify-items: center
}

.d-flex,
.header_right,
.wrapper,
header .socials,
nav .menu-list li {
    display: -webkit-flex;
    display: flex
}

.wrapper {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    align-content: center;
    -webkit-align-items: center;
    align-items: center
}

.d-flex {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.absoluted {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%
}

.object__fit-cover {
    object-fit: cover;
    object-position: center center;
    -o-object-fit: cover;
    -o-object-position: center
}

header {
    position: sticky;
    width: 100%;
    z-index: 5;
    top: 0;
    padding: 3rem 0;
}

.header-container {
    margin: 0 auto;
    padding: 1rem 2.2rem
}

.show-nav .logo>a .logo__svg {
    fill: var(--white) !important;
    color: var(--white) !important
}

.show-nav .logo a .turning__star {
    color: var(--red)
}

.logo {
    height: 35px;
    z-index: 5
}

.logo svg {
    color: var(--black);
    fill: var(--black);
    transition: all .2s ease-in;
    height: auto;
    width: 180px
}

.logo a {
    position: relative
}

.logo .turning__star {
    fill: var(--red);
    color: var(--red);
    -webkit-animation: 7s linear infinite turningStar;
    animation: 7s linear infinite turningStar;
    position: absolute;
    top: 30%;
    right: 0;
    width: 15;
    height: 15;
    z-index: 8
}

@keyframes turningStar {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.logo a h2 {
    color: var(--light-color) !important
}

.menu-list li {
    margin: 0 7px;
    opacity: 0;
    -webkit-transform: translateY(6rem);
    transform: translateY(6rem)
}

.appear-delay-1 {
    -webkit-transition: transform .7s cubic-bezier(.165, .84, .44, 1) .1s, opacity 1s cubic-bezier(.165, .84, .44, 1) .2s;
    transition: transform .7s cubic-bezier(.165, .84, .44, 1) .1s, opacity 1s cubic-bezier(.165, .84, .44, 1) .2s
}

.appear-delay-2 {
    -webkit-transition: transform .7s cubic-bezier(.165, .84, .44, 1) .22s, opacity 1s cubic-bezier(.165, .84, .44, 1) .32s;
    transition: transform .7s cubic-bezier(.165, .84, .44, 1) .22s, opacity 1s cubic-bezier(.165, .84, .44, 1) .32s
}

.appear-delay-2-5 {
    -webkit-transition: transform .7s cubic-bezier(.165, .84, .44, 1) .25s, opacity 1s cubic-bezier(.165, .84, .44, 1) .35s;
    transition: transform .7s cubic-bezier(.165, .84, .44, 1) .25s, opacity 1s cubic-bezier(.165, .84, .44, 1) .35s
}

.appear-delay-3 {
    -webkit-transition: transform .7s cubic-bezier(.165, .84, .44, 1) .28s, opacity 1s cubic-bezier(.165, .84, .44, 1) .38s;
    transition: transform .7s cubic-bezier(.165, .84, .44, 1) .28s, opacity 1s cubic-bezier(.165, .84, .44, 1) .38s
}

.appear-delay-4 {
    -webkit-transition: transform .7s cubic-bezier(.165, .84, .44, 1) .34s, opacity 1s cubic-bezier(.165, .84, .44, 1) .44s;
    transition: transform .7s cubic-bezier(.165, .84, .44, 1) .34s, opacity 1s cubic-bezier(.165, .84, .44, 1) .44s
}

.appear-delay-5 {
    -webkit-transition: transform .7s cubic-bezier(.165, .84, .44, 1) .4s, opacity 1s cubic-bezier(.165, .84, .44, 1) .5s;
    transition: transform .7s cubic-bezier(.165, .84, .44, 1) .4s, opacity 1s cubic-bezier(.165, .84, .44, 1) .5s
}

.appear-delay-6 {
    -webkit-transition: transform .7s cubic-bezier(.165, .84, .44, 1) .44s, opacity 1s cubic-bezier(.165, .84, .44, 1) .54s;
    transition: transform .7s cubic-bezier(.165, .84, .44, 1) .44s, opacity 1s cubic-bezier(.165, .84, .44, 1) .54s
}

li.--translated {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.menu-list li a {
    color: var(--white)
}

.burger_container {
    position: fixed;
    top: calc((var(--header-height)/ 2) - (10px));
    z-index: 6;
    right: 2em
}

.burger .bar,
.burger .bar::after,
.burger .bar::before {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--black)
}

.burger {
    background: 0 0;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: relative
}

.navbar,
header .socials {
    position: fixed;
    opacity: 0
}

.burger .bar::after,
.burger .bar::before {
    content: "";
    position: absolute;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out
}

.burger .bar::before {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
}

.burger .bar::after {
    -webkit-transform: translateY(8px);
    transform: translateY(8px)
}

.socials li {
    max-width: 25px;
    margin: 0 1rem
}

header .socials {
    pointer-events: none;
    height: auto;
    width: auto;
    bottom: 2.5rem
}

header.show-nav .socials {
    pointer-events: all;
    opacity: 1
}

header .socials li svg {
    -webkit-transition: opacity .3s ease-out .6s;
    transition: opacity .3s ease-out .6s;
    color: transparent;
    height: 0%;
    width: 0%
}

.show-nav .socials li svg {
    -webkit-transition: width .3s ease-out .3s, height .3s ease-out .3s, opacity .3s ease-out .3s, color .3s ease-out;
    transition: width .3s ease-out .3s, height .3s ease-out .3s, opacity .3s ease-out .3s, color .3s ease-out;
    color: var(--white);
    height: 35px;
    width: 35px
}

nav .menu-list a:active,
nav .menu-list a:focus,
nav .menu-list a:focus-visible,
nav .menu-list a:target,
nav .menu-list li:hover a,
nav .socials a:active svg,
nav .socials a:focus svg,
nav .socials a:focus-visible svg,
nav .socials a:target svg,
nav .socials li:hover svg {
    color: var(--red);
    scale: 1.02
}


@media screen and (min-width:650px) {
    header {
        padding: 5rem 0;
    }

    .logo svg {
        width: 300px
    }
}

@media screen and (min-width:1400px) {
    .logo svg {
        width: 210px
    }
}

@media screen and (min-width:1501px) {
    header {
        padding: 6rem 0;
    }

    .logo svg {
        width: 250px
    }
}

@media screen and (min-width:2000px) {
    header {
        padding: 7rem 0;
    }

    .logo svg {
        width: 270px
    }

    .show-nav .socials li svg {
        height: 40px;
        width: 40px
    }
}

.navbar {
    width: 0%;
    height: 100vh;
    left: 140%;
    background: var(--main-color);
    top: 0;
    z-index: 4;
    -webkit-transition: var(--header-transition);
    transition: var(--header-transition);
    -webkit-box-shadow: -5px 0 50px var(--grey);
    box-shadow: -5px 0 50px var(--grey)
}

.show-nav .navbar {
    right: 0;
    opacity: 1;
    width: 100%;
    left: 0
}

.menu-list {
    -webkit-flex-direction: column;
    flex-direction: column
}

nav .menu-list li {
    -webkit-justify-content: center;
    justify-content: center
}

nav .menu-list a {
    display: block;
    font-size: 1.9rem;
    letter-spacing: 1;
    padding: 2rem;
    -webkit-transition: .4s;
    transition: .4s
}

@media screen and (max-width:750px) {
    .container {
        justify-items: center;
        display: grid;
        padding: 0 1rem;
        margin-bottom: 7rem
    }

    header {
        padding: 3rem 0
    }

    .burger_container {
        top: calc((var(--mobile-header-height)/ 2) - (10px))
    }

    nav .menu-list a {
        padding: 1.4rem
    }
}

.show-nav .burger .bar {
    width: 0
}

.show-nav .burger .bar::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.show-nav .burger .bar::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.header-container {
    max-width: none;
    width: 100%
}


/* footer */

footer {
    border-top: 1px solid var(--light-color)
}

footer h1 {
    margin-bottom: 1rem
}

footer .socials li,
footer p {
    margin: 0
}

footer p {
    padding: 0
}

.footer-container {
    min-width: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    max-height: 100%;
    padding: 0
}

.top__footer {
    width: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    max-height: 100%;
    height: 100%
}

.left-footer {
    -webkit-flex-direction: column;
    flex-direction: column;
    line-height: 1.4;
    max-height: 100%;
    width: 100%
}

.top__left__footer {
    width: var(--footer-width);
    max-width: var(--footer-width);
    max-height: 100%;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.footer__logo {
    height: fit-content;
    margin: 1rem 2rem 1.5rem 0;
    z-index: 1
}

.right-footer {
    height: 100%
}

.logo_pic {
    height: auto;
    max-width: none;
    width: 180px
}

.right-footer h3 {
    font-weight: 400;
    margin: 0 1.5rem 0 0;
    letter-spacing: 1.3
}

.right__footer__container {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: end;
    align-items: end;
    height: 100%
}

.right__footer__container div {
    padding: 0.3rem 0
}

.right__footer__container .top__right__footer {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-row-gap: .5rem;
    row-gap: .5rem;
}

.bottom__right__footer {
    color: #ccc;
    letter-spacing: 1.2
}

.footer__img__container {
    width: 20%;
    margin-bottom: 1.5rem
}

.footer__txt__container {
    text-align: left;
    width: var(--footer-width);
    max-width: var(--footer-width);
    -webkit-justify-content: left;
    justify-content: left;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.footer__txt__container p {
    white-space: nowrap;
}

.right-footer {
    width: 100%;
    -webkit-justify-content: start;
    justify-content: start
}

.footer__txt__container strong {
    font-weight: 700
}

footer .socials {
    width: 100%;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.right__footer__container .socials li:first-child {
    margin-right: 1rem
}

footer .socials li svg {
    color: var(--black);
    height: 26px;
    width: 26px
}

.right__footer__container .legal__mentions {
    padding: 0;
    width: var(--footer-width);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: left;
    justify-content: left;
    white-space: nowrap;
    color: var(--grey);
    line-height: 1.4;
    text-align: left;
}

.legal__mentions a {
    width: 100%;
}

.bottom__right__footer span {
    font-size: 1.3rem;
}

@media screen and (max-width:1049px) {

    .footer__logo {
        width: 70%;
        -webkit-justify-content: start;
        justify-content: start;
        margin: 0
    }

    .right__footer__container .top__right__footer {
        width: var(--footer-width);
        max-width: var(--footer-width);
        -webkit-justify-content: unset;
        justify-content: unset;
        -webkit-align-items: start;
        ;
        align-items: start
    }

    .right__footer__container {
        width: 100%;
        -webkit-align-items: center;
        align-items: center
    }

    .bottom__right__footer {
        width: var(--footer-width);
        white-space: nowrap;
        text-align: left;
    }

    .bottom__right__footer span {
        min-width: 100%;
        white-space: nowrap
    }

    .footer__img__container img {
        width: 100%
    }

    .top__right__footer {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width:550px) {
    .footer__img__container {
        width: 22%
    }

    .legal__mentions {
        margin-bottom: .5rem;
    }
}

@media screen and (min-width:1050px) {
    footer {
        margin-bottom: 3rem
    }

    .right__footer__container .top__right__footer,
    .top__footer {
        -webkit-align-items: end;
        align-items: end;
        -webkit-flex-direction: row;
        flex-direction: row
    }

    .top__left__footer {
        -webkit-justify-content: right;
        justify-content: right;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        max-width: 100%;
        width: 100%;
    }

    .left-footer {
        text-align: left;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-flex-direction: row;
        flex-direction: row;
        width: 45%;
        -webkit-align-items: flex-end;
        align-items: flex-end
    }

    .footer__logo {
        margin: 1.5rem 1rem 0 0
    }

    .footer__img__container {
        height: 100%;
        width: 13%;
        margin: 0 3rem 0 2rem
    }

    .footer__txt__container {
        line-height: .9;
        width: auto
    }

    .footer__txt__container,
    .right-footer {
        margin-top: 1rem
    }

    .right-footer {
        width: 45%;
        text-align: right;
        -webkit-justify-content: center;
        justify-content: center
    }

    footer .socials {
        -webkit-justify-content: space-between;
        justify-content: space-between
    }

    .right__footer__container .bottom__right__footer {
        padding-bottom: 0;
    }

    .right__footer__container .legal__mentions {
        margin: 0;
        width: auto;
        font-size: 1.3rem;
    }
}

@media screen and (min-width:1250px) {
    .footer__img__container {
        width: 17.2%
    }
}

@media screen and (min-width:1250px) and (max-width:1400px) {
    .right-footer {
        width: 34%
    }

    .footer__txt__container,
    .right-footer {
        margin-top: .5rem
    }
}

@media screen and (min-width:1500px) {
    .footer__img__container {
        width: 14%
    }

    .left-footer {
        -webkit-justify-content: left;
        justify-content: left
    }

    .footer__txt__container,
    .right-footer {
        margin-top: 0
    }
}

@media screen and (min-width:1700px) {
    .footer__img__container {
        width: 11%;
    }

    .left-footer {
        width: 42%;
    }
}

@media screen and (min-width:2100px) {
    .footer__img__container {
        width: 9%;
    }

    .left-footer {
        width: 38%;
    }
}