.home .container, .home .grid {
    margin:0;
    width: 100%;
    padding: 0;
    max-width: none;
}

.home .grid {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-items: center;
    align-items: center;
    background: #000;
}

.home__text__container {
    position: absolute;
    bottom: 10%;
    left: 15%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    text-align: left;
    width: fit-content;
    line-break: unset;
    gap: 1rem;
    white-space: nowrap;
}

.home__text__container p {
    margin: 0;
    padding: 0;
}

.home__text {
    color: white;
    text-shadow: 0 0 20px #000000;
    font-size: 2rem;
    z-index: 2;
}

.home__text-2 {
    bottom: 10%;
    left: 24.3%;
}

#switching-text {
    color: var(--red);
    opacity: 1;
    transition: opacity .5s ease-out, width .8s ease-out;
    /* animation: switchingTxtAppear 1.5s infinite; */
    /* display: block; */
}


@keyframes switchingTxtAppear {
    from {width: 0;}

    to {width: 100%;}
}

video {
    /* width: 80%;
    height: 80vh; */
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
    filter: brightness(103%);
}

.hero__video {
    mask-image: url("../img/LUNETTES-MASQUE.svg");
    mask-size: 80%;
    mask-repeat: no-repeat;
    mask-position: center center;
    -webkit-mask-image: url("../img/LUNETTES-MASQUE.svg");
    -webkit-mask-size: 80%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
}


@media screen and (min-width: 768px) {
    .hero__video {
        mask-size: 80%;
        -webkit-mask-size: 80%;
    }
}

@media screen and (min-width: 1000px) {
    .hero__video {
    mask-size: 60%;
    -webkit-mask-size: 60%;
}
}

/* cercle simple */

/* .mask__video {
    position: absolute;
    width: 100%; 
    height: 100%;
    background: radial-gradient(circle at center, transparent 30%, black 30.1%, black 100%);
    pointer-events: none;
} */


/* double cercle */

.mask__double__video {
    position: absolute;
    width: 50%; 
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at 65%, transparent 30%, black 30.1%, black 100%);
}

.mask__double__video.left {
    left: 0;
}


.mask__double__video.right {
    right: 0;
    rotate: 180deg;
}

@media screen and (min-width: 768px) {
    .mask__double__video {
    background: radial-gradient(circle at 75%, transparent 30%, black 30.1%, black 100%);
}
}

@media screen and (max-width: 1100px) {
    video {
    width: 90%;
    height: 60vh;
}

.mask__video {
    position: absolute;
    width: 100%; 
    height: 100%;
    background: radial-gradient(circle at center, transparent 35%, black 35.1%, black 100%);
    pointer-events: none;
}
}

/* .logo__star {
    fill: var(--red);
    transform-origin: 94.5% 42%;
    -o-transform-origin: 94.5% 42%;
    -ms-transform-origin: 94.5% 42%;
    -moz-transform-origin: 94.5% 42%;
    -webkit-transform-origin: 94.5% 42%;
} */

/* .jumping__star {
    position: absolute;
    bottom: 47%;
    left: 70%;
    z-index: 2;
    width: 30px;
    height: 30px;
} */


/* @keyframes turningStar {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(-5deg);
    }

    95% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(355deg);
    }
} */

/* @keyframes jumpingStar {
 

    0% {
        transform: translateY(0px);
        height: 30px;
        width: 30px;
    }

    5% {
        transform: translateY(3px);
        height: 26px;
        width: 30px;
    }

    25% {
        height: 30px;
        transform: translateY(-30px) rotate(0);
    }

    37% {
        transform: translateY(-30px) rotate(-5deg);        
    }

    50% {
        transform: translateY(-30px) rotate(360deg);
    }

    55% {
        transform: translateY(-30px) rotate(355deg);
    }

    100% {
        transform: translateY(0px) rotate(355deg);
    }

} */



/* home menu */

.home__menu {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

#home__menu .wrapper {
    height: 100%;
    width: 100%;
}

.home__menu__item {
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 1;
}

.menu__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-out;
}

.menu__link {
    z-index: 2;
}

.menu__hovered {
    opacity: 0;
    z-index: 1;
    transition: all .5s ease-out;
    /* background: transparent; */
}

.menu__link:hover + .menu__img {
    opacity: 0;
}

.menu__link:hover + .menu__hovered {
    opacity: 1;
}


/* définition des bg */

#home__menu .home__menu__item:nth-child(1) .menu__hovered {
    background: #7C756C;
}

#home__menu .home__menu__item:nth-child(2) .menu__hovered {
    background: #3A738C;
}

#home__menu .home__menu__item:nth-child(3) .menu__hovered {
    background: #AEC199;
}

#home__menu .home__menu__item:nth-child(4) .menu__hovered {
    background: #FF7F30;
}



.menu__hovered__container {
    top: 35%;
    height: 30%;
    width: 30%;
    left: 35%;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu__hovered__container h1 {
    margin: 0;
    width: 100%;
}


.menu__picto {
    width: 45px;
    height: auto;
}

.menu__title {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  color: white;
}