header {
    pointer-events: none;
    position: fixed;
    background: transparent;
}

.logo svg {
    color: var(--white);
    fill: var(--white);
}

.burger .bar::after,.burger .bar::before, .burger .bar {
    background: var(--white);
}
 
.logo, .burger_container, .navbar, .bottom-footer {
    pointer-events: auto;
}

.header-container .logo a {
    transition: var(--header-transition);
    transform: translateY(1rem) translateX(5px);
}

.header-container .logo .logo--is-translated {
    transform: translateY(17rem);
}

@media screen and (max-width: 400px) {
    .header-container .logo .logo--is-translated {
        transform: translateY(11rem);
    }
}

@media screen and (min-width: 599px) {
    .header-container .logo .logo--is-translated {
        transform: translateY(70px);
    }
}

@media screen and (min-width: 699px) {
    .header-container .logo .logo--is-translated {
        transform: translateY(3rem);
    }
}

@media screen and (min-width: 1200px) {
    .header-container .logo a {
         transform: translateY(0) translateX(1rem);
    }

    .header-container .logo .logo--is-translated {
        transform: translateY(6.5rem) translateX(1rem);
    }
}

@media screen and (min-width: 1700px) {
    .header-container .logo .logo--is-translated {
        transform: translateY(16rem) translateX(1.5rem);
    }

    .header-container .logo a {
        transition: all .1s;
    }
}





.home .container, .home .grid {
    margin:0;
    width: 100%;
    padding: 0;
    max-width: none;
}

.home .grid {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-items: center;
    align-items: center;
    background: #000;
}

.home__text__container {
    position: absolute;
    top: 70%;
    left: 4%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: auto;
    white-space: nowrap;
    font-family: "EB Garamond", serif;
    font-size: 2.1rem;
    font-weight: 300;
    font-style: normal;
    color: white;
    letter-spacing: .8px;
}

.home__text__container p {
    margin: 0;
    padding: 0;
    max-width: unset;
    transition: var(--smooth-transition);
    opacity: 0;
    transform: translateY(2.5rem);
}

/* .home__text__container .right__home__text {
    transition: var(--smooth-transition) .2s;
} */

.home__text__container .right__home__text .home__text-2 {
    transition: var(--smooth-transition) .3s;
}

.home__text {
    color: white;
    text-shadow: 0 0 20px #000000;
    z-index: 2;
    display: flex;
    gap: 0.5rem;
}

.right__home__text {
    margin-left: 5px;
}

.home__text-2 {
    justify-content: left;
}

#switching-text {
    color: var(--red);
    opacity: 1;
    width: fit-content;
    overflow: hidden;
    display: block;
    font-weight: 500;
    letter-spacing: .6px;
    margin-left: 6px;
}


@keyframes switchingTxtAppear {
    from {right: 0%;}

    to {right: -100%;}
}

.hero__video {
    width: 100%;
    height: 100vh;
    filter: brightness(103%);
    mask-image: url("../img/lunettes/LUNETTES-MASQUE.svg");
    mask-size: 45%;
    mask-repeat: no-repeat;
    mask-position: center center;
    -webkit-mask-image: url("../img/lunettes/LUNETTES-MASQUE.svg");
    -webkit-mask-size: 45%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    pointer-events: none;
}

.video__mask__lunet {
    position: absolute;
    z-index: 2;
    justify-self: center;
    width: 45%;
    height: auto;
}



/* responsive home video */


@media screen and (max-width: 799px) {

    .hero__video {
        width: 75%;
        height: auto;
        mask-size: 100%;
        -webkit-mask-size: 100%;
    }

    .video__mask__lunet {
        width: 80%;
    }
}

@media screen and (min-width: 550px) {
    .home__text__container {
        top: 69%;
        left: 33.5%;
        white-space: nowrap;
        text-align: left;
        font-size: 2.3rem;
    }
}

@media screen and (min-width: 800px) {
    .hero__video {
        width: 60%;
        height: auto;
        mask-size: 100%;
        -webkit-mask-size: 100%;
    }

    .video__mask__lunet {
        width: 65%;
    }

    .home__text__container {
        top: 70%;
        left: 37%;
        white-space: nowrap;
        text-align: left;
    }
}

@media screen and (min-width: 1000px) {
    .hero__video {
        width: 50%;
        height: auto;
        mask-size: 100%;
        -webkit-mask-size: 100%;
    }

    .video__mask__lunet {
        width: 53%;
    }

    .home__text__container {
        top: 75%;
        left: 40%;
    }

    .menu__link:active .menu__hovered, .menu__link:focus .menu__hovered {
        opacity: 1!important;
    }

}

@media screen and (min-width: 1100px) {
    .home__text__container {
        top: 75%;
        left: 45%;
    }
}

@media screen and (min-width: 1700px) {
    .home__text__container {
        top: 80%;
    }
}



/* home menu */

.home__menu {
    height: unset;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
}

#home__menu h1 {
    margin: 0;
}

#home__menu .wrapper {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.menu__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    transition: var(--smooth-transition);
}

.home__menu__item {
    position: relative;
    z-index: 1;
}

.menu__hovered {
    pointer-events: none;
}


/* définition des bg */

#home__menu .home__menu__item:nth-child(1) .menu__hovered {
    background: var(--brown);
}

#home__menu .home__menu__item:nth-child(2) .menu__hovered {
    background: var(--blue);
}

#home__menu .home__menu__item:nth-child(3) .menu__hovered {
    background: var(--green);
}

#home__menu .home__menu__item:nth-child(4) .menu__hovered {
    background: var(--orange);
}

.menu__hovered__container {
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
}





.menu__title {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    color: white;
}


.menu__hovered__container .menu__picto, .menu__hovered__container .menu__title {
    width: auto;
    white-space: nowrap;
    font-size: 2rem;
    letter-spacing: 0.8px;
    font-weight: 500;
}

.menu__hovered__container .menu__picto {
    width: 55px;
}

.home__menu__item {
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 1;
}

/* menu responsive */

@media screen and (max-width: 1200px) {
    .home__menu .home__menu__item .menu__hovered__container .menu__picto{
        max-height: 50%;
        padding: 1rem;
    }

    .menu__hovered__container {
        top: unset;
        height: 100%;
    }

    #home__menu .home__menu__item:nth-child(2) .menu__hovered .menu__picto {
        width: 50px;
    }

    #home__menu .home__menu__item:nth-child(3) .menu__hovered .menu__picto {
        width: 45px;
    }

    #home__menu .home__menu__item:nth-child(1) .menu__hovered .menu__picto {
        width: 70px;
    }
}

#home__menu {
    height: 100vh;
}

.menu__hovered__container {
    top: 35%;
    height: 30%;
    width: 30%;
    left: 35%;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
}


#home__menu .home__menu__item .menu__picto {
    width: 45px;
    height: auto;
}


.menu__link {
    z-index: 3;
}

.menu__hovered__container h1 {
    margin: 0;
    width: 100%;
}

#home__menu .home__menu__item .menu__hovered {
    opacity: 0;
    z-index: 1;
    transition: var(--smooth-transition);
    width: 100%;
    height: 100%;
}

.menu__link:hover .menu__img {
    opacity: 0;
}

.menu__link:hover .menu__hovered {
    opacity: 1!important;
}

@media screen and (max-width: 700px) {

    #home__menu {
        height: 80vh;
    }

    .home__menu .wrapper {
        height: 100%;
    }
    .home__menu__item {
        height: 50%;
    }

    .menu__hovered__container .menu__title {
        display: block;
    }

    .home__menu .home__menu__item .menu__hovered__container {
        justify-content: center;
    }

    #home__menu .home__menu__item:nth-child(1) .menu__picto {
        margin-bottom: .6rem;
    }
}

#home__menu .home__menu__item:nth-child(1) .menu__picto {
    width: 80px;
    height: auto;
}