.logo svg{
    color: white;
    fill: #ffffff;
    height: 72px;
    width: 180px;
}

.home .container, .home .grid {
    margin:0;
    width: 100%;
    padding: 0;
    max-width: none;
}

.home .grid {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

.home__text__container {
    position: absolute;
    bottom: 10%;
    left: 15%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    text-align: left;
    width: fit-content;
    line-break: unset;
    gap: 1rem;
    white-space: nowrap;
}

.home__text__container p {
    margin: 0;
    padding: 0;
}

.home__text {
    color: white;
    text-shadow: 0 0 20px #000000;
    font-size: 2rem;
    z-index: 2;
}

.home__text-2 {
    bottom: 10%;
    left: 24.3%;
}

#switching-text {
    color: #de730f;
    opacity: 1;
    transition: all .5s ease-out;
}

video {
    width: 80%;
    height: 80vh;
    object-fit: cover;
    object-position: center center;
    filter: brightness(103%);
}

.mask__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    bottom: 0;
    right: 0;
}

.mask__video img {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    bottom: 0;
    right: 0;
}

.jumping__star {
    position: absolute;
    bottom: 47%;
    left: 70%;
    z-index: 2;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 550px) {
    video {
    width: 100%;
    height: 100vh;
}
}

@keyframes jumpingStar {
    0% {
        transform: translateY(0px);
        height: 30px;
        width: 30px;
    }

    5% {
        transform: translateY(3px);
        height: 26px;
        width: 30px;
    }

    25% {
        height: 30px;
        transform: translateY(-30px) rotate(0);
    }

    37% {
        transform: translateY(-30px) rotate(-5deg);        
    }

    50% {
        transform: translateY(-30px) rotate(360deg);
    }

    55% {
        transform: translateY(-30px) rotate(355deg);
    }

    100% {
        transform: translateY(0px) rotate(355deg);
    }

}