:root {
    --project-1-color: 37, 59%, 72%;
    --project-1-star-color: 217, 37%, 42%;
    --project-2-color: 306, 16%, 75%;
    --project-2-star-color: 61, 46%, 69%;
    --project-3-color: 0, 1%, 70%;
    --project-3-star-color: 37, 19%, 50%;
    --project-4-color: 206, 25%, 63%;
    --project-4-star-color: 198, 11%, 30%;
    --project-5-color: 240, 0%, 55%;
    --project-5-star-color: 0, 0%, 100%;
    --project-6-color: 37, 6%, 58%;
    --project-6-star-color: 8, 33%, 64%;
    --project-7-color: 233, 18%, 60%;
    --project-7-star-color: 274, 28%, 77%;
    --project-8-color: 76, 20%, 67%;
    --project-8-star-color: 33, 14%, 88%;
    --project-9-color: 35, 19%, 67%;
    --project-9-star-color: 20, 9%, 41%;
    --project-10-color: 23, 28%, 70%;
    --project-10-star-color: 5, 39%, 61%;
    --project-11-color: 285, 5%, 54%;
    --project-11-star-color: 0, 0%, 80%;
    --project-12-color: 0, 1%, 62%;
    --project-12-star-color: 0, 0%, 83%;
}

.illustration__content .wrapper {
    .project:nth-child(1) {
        background-color: hsl(var(--project-1-color));

        svg {
            color: hsl(var(--project-1-star-color));
        }
    }


    .project:nth-child(2) {
        background-color: hsl(var(--project-2-color));

        svg {
            color: hsl(var(--project-2-star-color));
        }
    }

    .project:nth-child(3) {
        background-color: hsl(var(--project-3-color));

        svg {
            color: hsl(var(--project-3-star-color));
        }
    }

    .project:nth-child(4) {
        background-color: hsl(var(--project-4-color));

        svg {
            color: hsl(var(--project-4-star-color));
        }
    }

    .project:nth-child(5) {
        background-color: hsl(var(--project-5-color));

        svg {
            color: hsl(var(--project-5-star-color));
        }
    }

    .project:nth-child(6) {
        background-color: hsl(var(--project-6-color));

        svg {
            color: hsl(var(--project-6-star-color));
        }
    }

    .project:nth-child(7) {
        background-color: hsl(var(--project-7-color));

        svg {
            color: hsl(var(--project-7-star-color));
        }
    }

    .project:nth-child(8) {
        background-color: hsl(var(--project-8-color));

        svg {
            color: hsl(var(--project-8-star-color));
        }
    }

    .project:nth-child(9) {
        background-color: hsl(var(--project-9-color));

        svg {
            color: hsl(var(--project-9-star-color));
        }
    }

    .project:nth-child(10) {
        background-color: hsl(var(--project-10-color));

        svg {
            color: hsl(var(--project-10-star-color));
        }
    }

    .project:nth-child(11) {
        background-color: hsl(var(--project-11-color));

        svg {
            color: hsl(var(--project-11-star-color));
        }
    }

    .project:nth-child(12) {
        background-color: hsl(var(--project-12-color));

        svg {
            color: hsl(var(--project-12-star-color));
        }
    }
}

@media screen and (min-width:1200px) {
    .illustration__content .wrapper {
        .project:nth-child(1) {
            background-color: hsl(var(--project-1-color), .4);

            svg {
                color: hsl(var(--project-1-star-color));
            }
        }


        .project:nth-child(2) {
            background-color: hsl(var(--project-2-color), .4);

            svg {
                color: hsl(var(--project-2-star-color));
            }
        }

        .project:nth-child(3) {
            background-color: hsl(var(--project-3-color), .4);

            svg {
                color: hsl(var(--project-3-star-color));
            }
        }

        .project:nth-child(4) {
            background-color: hsl(var(--project-4-color), .4);

            svg {
                color: hsl(var(--project-4-star-color));
            }
        }

        .project:nth-child(5) {
            background-color: hsl(var(--project-5-color), .4);

            svg {
                color: hsl(var(--project-5-star-color), .4);
            }
        }

        .project:nth-child(6) {
            background-color: hsl(var(--project-6-color), .4);

            svg {
                color: hsl(var(--project-6-star-color), .4);
            }
        }

        .project:nth-child(7) {
            background-color: hsl(var(--project-7-color), .4);

            svg {
                color: hsl(var(--project-7-star-color), .4);
            }
        }

        .project:nth-child(8) {
            background-color: hsl(var(--project-8-color), .4);

            svg {
                color: hsl(var(--project-8-star-color), .4);
            }
        }

        .project:nth-child(9) {
            background-color: hsl(var(--project-9-color), .4);

            svg {
                color: hsl(var(--project-9-star-color), .4);
            }
        }

        .project:nth-child(10) {
            background-color: hsl(var(--project-10-color), .4);

            svg {
                color: hsl(var(--project-10-star-color), .4);
            }
        }

        .project:nth-child(11) {
            background-color: hsl(var(--project-11-color), .4);

            svg {
                color: hsl(var(--project-11-star-color), .4);
            }
        }

        .project:nth-child(12) {
            background-color: hsl(var(--project-12-color), .4);

            svg {
                color: hsl(var(--project-12-star-color), .4);
            }
        }
    }

    .illustration__content .wrapper {

        .project:nth-child(1):hover {
            background-color: hsl(var(--project-1-color));

            svg {
                color: hsl(var(--project-1-star-color));
            }
        }


        .project:nth-child(2):hover {
            background-color: hsl(var(--project-2-color), 1);

            svg {
                color: hsl(var(--project-2-star-color), 1);
            }
        }

        .project:nth-child(3):hover {
            background-color: hsl(var(--project-3-color), 1);

            svg {
                color: hsl(var(--project-3-star-color), 1);
            }
        }

        .project:nth-child(4):hover {
            background-color: hsl(var(--project-4-color), 1);

            svg {
                color: hsl(var(--project-4-star-color), 1);
            }
        }

        .project:nth-child(5):hover {
            background-color: hsl(var(--project-5-color), 1);

            svg {
                color: hsl(var(--project-5-star-color), 1);
            }
        }

        .project:nth-child(6):hover {
            background-color: hsl(var(--project-6-color), 1);

            svg {
                color: hsl(var(--project-6-star-color), 1);
            }
        }

        .project:nth-child(7):hover {
            background-color: hsl(var(--project-7-color), 1);

            svg {
                color: hsl(var(--project-7-star-color), 1);
            }
        }

        .project:nth-child(8):hover {
            background-color: hsl(var(--project-8-color), 1);

            svg {
                color: hsl(var(--project-8-star-color), 1);
            }
        }

        .project:nth-child(9):hover {
            background-color: hsl(var(--project-9-color), 1);

            svg {
                color: hsl(var(--project-9-star-color), 1);
            }
        }

        .project:nth-child(10):hover {
            background-color: hsl(var(--project-10-color), 1);

            svg {
                color: hsl(var(--project-10-star-color), 1);
            }
        }

        .project:nth-child(11):hover {
            background-color: hsl(var(--project-11-color), 1);

            svg {
                color: hsl(var(--project-11-star-color), 1);
            }
        }

        .project:nth-child(12):hover {
            background-color: hsl(var(--project-12-color), 1);

            svg {
                color: hsl(var(--project-12-star-color), 1);
            }
        }
    }

    .project {

        .project__content {

            p,
            svg {
                opacity: 0;
            }
        }

        .object__fit-cover {
            scale: 1;
            filter: grayscale(100%);
        }

        .project__link {
            width: 100%;

            &:hover,
            &:focus,
            &:active {
                ~.img__container .object__fit-cover {
                    scale: 1.04;
                    filter: grayscale(0%);
                }

                ~.project__content {

                    p,
                    svg {
                        opacity: 1;
                    }
                }
            }
        }

    }
}