:root {
    --project-1-color: 190, 39%, 71%;
    --project-1-star-color: hsl(39, 60%, 94%);
    --project-2-color: hsl(182, 12%, 67%);
    --project-2-star-color: hsl(0, 74%, 76%);
    --project-3-color: hsl(62, 51%, 72%);
    --project-3-star-color: hsl(22, 27%, 52%);
    --project-4-color: hsl();
    --project-4-star-color: hsl();
    --project-5-color: hsl();
    --project-5-star-color: hsl();
    --project-6-color: hsl();
    --project-6-star-color: hsl();
    --project-7-color: hsl();
    --project-7-star-color: hsl();
    --project-8-color: hsl();
    --project-8-star-color: hsl();
    --project-9-color: hsl();
    --project-9-star-color: hsl();
    --project-10-color: hsl();
    --project-10-star-color: hsl();
    --project-11-color: hsl();
    --project-11-star-color: hsl();
    --project-12-color: hsl();
    --project-12-star-color: hsl();
    --project-13-color: hsl();
    --project-13-star-color: hsl();
    --project-14-color: hsl();
    --project-14-star-color: hsl();
}

.graphisme__content .wrapper {
    .project:nth-child(1) {
        background-color: hsl(var(--project-1-color), .5);

        svg {
            color: hsl(var(--project-1-star-color));
        }
    }


    .project:nth-child(2) {
        background-color: hsl(var(--project-2-color));

        svg {
            color: hsl(var(--project-2-star-color));
        }
    }

    .project:nth-child(3) {
        background-color: hsl(var(--project-3-color));

        svg {
            color: hsl(var(--project-3-star-color));
        }
    }

    .project:nth-child(4) {
        background-color: hsl(var(--project-4-color));

        svg {
            color: hsl(var(--project-4-star-color));
        }
    }

    .project:nth-child(5) {
        background-color: hsl(var(--project-5-color));

        svg {
            color: hsl(var(--project-5-star-color));
        }
    }

    .project:nth-child(6) {
        background-color: hsl(var(--project-6-color));

        svg {
            color: hsl(var(--project-6-star-color));
        }
    }

    .project:nth-child(7) {
        background-color: hsl(var(--project-7-color));

        svg {
            color: hsl(var(--project-7-star-color));
        }
    }

    .project:nth-child(8) {
        background-color: hsl(var(--project-8-color));

        svg {
            color: hsl(var(--project-8-star-color));
        }
    }

    .project:nth-child(9) {
        background-color: hsl(var(--project-9-color));

        svg {
            color: hsl(var(--project-9-star-color));
        }
    }

    .project:nth-child(10) {
        background-color: hsl(var(--project-10-color));

        svg {
            color: hsl(var(--project-10-star-color));
        }
    }

    .project:nth-child(11) {
        background-color: hsl(var(--project-11-color));

        svg {
            color: hsl(var(--project-11-star-color));
        }
    }

    .project:nth-child(12) {
        background-color: hsl(var(--project-12-color));

        svg {
            color: hsl(var(--project-12-star-color));
        }
    }

    .project:nth-child(13) {
        background-color: hsl(var(--project-13-color));

        svg {
            color: hsl(var(--project-13-star-color));
        }
    }

    .project:nth-child(14) {
        background-color: hsl(var(--project-14-color));

        svg {
            color: hsl(var(--project-14-star-color));
        }
    }
}

.graphisme__content .wrapper {
    .project:nth-child(1):hover {
        background-color: hsl(var(--project-1-color), 1);

        svg {
            color: hsl(var(--project-1-star-color));
        }
    }


    .project:nth-child(2) {
        background-color: hsl(var(--project-2-color));

        svg {
            color: hsl(var(--project-2-star-color));
        }
    }

    .project:nth-child(3) {
        background-color: hsl(var(--project-3-color));

        svg {
            color: hsl(var(--project-3-star-color));
        }
    }

    .project:nth-child(4) {
        background-color: hsl(var(--project-4-color));

        svg {
            color: hsl(var(--project-4-star-color));
        }
    }

    .project:nth-child(5) {
        background-color: hsl(var(--project-5-color));

        svg {
            color: hsl(var(--project-5-star-color));
        }
    }

    .project:nth-child(6) {
        background-color: hsl(var(--project-6-color));

        svg {
            color: hsl(var(--project-6-star-color));
        }
    }

    .project:nth-child(7) {
        background-color: hsl(var(--project-7-color));

        svg {
            color: hsl(var(--project-7-star-color));
        }
    }

    .project:nth-child(8) {
        background-color: hsl(var(--project-8-color));

        svg {
            color: hsl(var(--project-8-star-color));
        }
    }

    .project:nth-child(9) {
        background-color: hsl(var(--project-9-color));

        svg {
            color: hsl(var(--project-9-star-color));
        }
    }

    .project:nth-child(10) {
        background-color: hsl(var(--project-10-color));

        svg {
            color: hsl(var(--project-10-star-color));
        }
    }

    .project:nth-child(11) {
        background-color: hsl(var(--project-11-color));

        svg {
            color: hsl(var(--project-11-star-color));
        }
    }

    .project:nth-child(12) {
        background-color: hsl(var(--project-12-color));

        svg {
            color: hsl(var(--project-12-star-color));
        }
    }

    .project:nth-child(13) {
        background-color: hsl(var(--project-13-color));

        svg {
            color: hsl(var(--project-13-star-color));
        }
    }

    .project:nth-child(14) {
        background-color: hsl(var(--project-14-color));

        svg {
            color: hsl(var(--project-14-star-color));
        }
    }
}