:root {
    --project-1-color: 255, 21%, 85%;
    --project-1-star-color: 252, 32%, 44%;
    --project-2-color: 17, 20%, 82%;
    --project-2-star-color: 12, 26%, 61%;
    --project-3-color: 0, 14%, 80%;
    --project-3-star-color: 320, 27%, 57%;
    --project-4-color: 35, 18%, 63%;
    --project-4-star-color: 30, 33%, 91%;
    --project-5-color: 43, 16%, 83%;
    --project-5-star-color: 29, 16%, 41%;
    --project-6-color: 60, 1%, 68%;
    --project-6-star-color: 211, 15%, 54%;
    --project-7-color: 0, 0%, 100%;
    --project-7-star-color: 226, 55%, 34%;
    --project-8-color: 168, 10%, 80%;
    --project-8-star-color: 349, 41%, 55%;
    --project-9-color: 261, 10%, 73%;
    --project-9-star-color: 235, 38%, 38%;
    --project-10-color: 15, 35%, 87%;
    --project-10-star-color: 333, 31%, 49%;
    --project-11-color: 85, 30%, 78%;
    --project-11-star-color: 26, 15%, 37%;
    --project-12-color: 19, 15%, 75%;
    --project-12-star-color: 30, 5%, 38%;
    --project-13-color: 62, 25%, 73%;
    --project-13-star-color: 217, 5%, 34%;
    --project-14-color: 37, 46%, 79%;
    --project-14-star-color: 216, 25%, 33%;
}

@media screen and (max-width:1199px) {
    .portfolio-content .wrapper {
        .project:nth-child(1) {
            background-color: hsl(var(--project-1-color));

            svg {
                color: hsl(var(--project-1-star-color));
            }
        }


        .project:nth-child(2) {
            background-color: hsl(var(--project-2-color));

            svg {
                color: hsl(var(--project-2-star-color));
            }
        }

        .project:nth-child(3) {
            background-color: hsl(var(--project-3-color));

            svg {
                color: hsl(var(--project-3-star-color));
            }
        }

        .project:nth-child(4) {
            background-color: hsl(var(--project-4-color));

            svg {
                color: hsl(var(--project-4-star-color));
            }
        }

        .project:nth-child(5) {
            background-color: hsl(var(--project-5-color));

            svg {
                color: hsl(var(--project-5-star-color));
            }
        }

        .project:nth-child(6) {
            background-color: hsl(var(--project-6-color));

            svg {
                color: hsl(var(--project-6-star-color));
            }
        }

        .project:nth-child(7) {
            background-color: hsl(var(--project-7-color));

            svg {
                color: hsl(var(--project-7-star-color));
            }
        }

        .project:nth-child(8) {
            background-color: hsl(var(--project-8-color));

            svg {
                color: hsl(var(--project-8-star-color));
            }
        }

        .project:nth-child(9) {
            background-color: hsl(var(--project-9-color));

            svg {
                color: hsl(var(--project-9-star-color));
            }
        }

        .project:nth-child(10) {
            background-color: hsl(var(--project-10-color));

            svg {
                color: hsl(var(--project-10-star-color));
            }
        }

        .project:nth-child(11) {
            background-color: hsl(var(--project-11-color));

            svg {
                color: hsl(var(--project-11-star-color));
            }
        }

        .project:nth-child(12) {
            background-color: hsl(var(--project-12-color));

            svg {
                color: hsl(var(--project-12-star-color));
            }
        }

        .project:nth-child(13) {
            background-color: hsl(var(--project-13-color));

            svg {
                color: hsl(var(--project-13-star-color));
            }
        }

        .project:nth-child(14) {
            background-color: hsl(var(--project-14-color));

            svg {
                color: hsl(var(--project-14-star-color));
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .portfolio-content .wrapper {
        .project:nth-child(1) {
            background-color: hsl(var(--project-1-color), .4);

            svg {
                color: hsl(var(--project-1-star-color));
            }
        }


        .project:nth-child(2) {
            background-color: hsl(var(--project-2-color), .4);

            svg {
                color: hsl(var(--project-2-star-color));
            }
        }

        .project:nth-child(3) {
            background-color: hsl(var(--project-3-color), .4);

            svg {
                color: hsl(var(--project-4-star-color));
            }
        }

        .project:nth-child(4) {
            background-color: hsl(var(--project-4-color), .4);

            svg {
                color: hsl(var(--project-4-star-color));
            }
        }

        .project:nth-child(5) {
            background-color: hsl(var(--project-5-color), .4);

            svg {
                color: hsl(var(--project-5-star-color), .4);
            }
        }

        .project:nth-child(6) {
            background-color: hsl(var(--project-6-color), .4);

            svg {
                color: hsl(var(--project-6-star-color), .4);
            }
        }

        .project:nth-child(7) {
            background-color: hsl(var(--project-7-color), .4);

            svg {
                color: hsl(var(--project-7-star-color), .4);
            }
        }

        .project:nth-child(8) {
            background-color: hsl(var(--project-8-color), .4);

            svg {
                color: hsl(var(--project-8-star-color), .4);
            }
        }

        .project:nth-child(9) {
            background-color: hsl(var(--project-9-color), .4);

            svg {
                color: hsl(var(--project-9-star-color), .4);
            }
        }

        .project:nth-child(10) {
            background-color: hsl(var(--project-10-color), .4);

            svg {
                color: hsl(var(--project-10-star-color), .4);
            }
        }

        .project:nth-child(11) {
            background-color: hsl(var(--project-11-color), .4);

            svg {
                color: hsl(var(--project-11-star-color), .4);
            }
        }

        .project:nth-child(12) {
            background-color: hsl(var(--project-12-color), .4);

            svg {
                color: hsl(var(--project-12-star-color), .4);
            }
        }

        .project:nth-child(13) {
            background-color: hsl(var(--project-13-color), .4);

            svg {
                color: hsl(var(--project-13-star-color), .4);
            }
        }

        .project:nth-child(14) {
            background-color: hsl(var(--project-14-color), .4);

            svg {
                color: hsl(var(--project-14-star-color), .4);
            }
        }
    }

    .portfolio-content .wrapper {
        .project:nth-child(1):hover {
            background-color: hsl(var(--project-1-color));

            svg {
                color: hsl(var(--project-1-star-color), 1);
            }
        }


        .project:nth-child(2):hover {
            background-color: hsl(var(--project-2-color));

            svg {
                color: hsl(var(--project-2-star-color), 1);
            }
        }

        .project:nth-child(3):hover {
            background-color: hsl(var(--project-3-color), 1);

            svg {
                color: hsl(var(--project-3-star-color), 1);
            }
        }

        .project:nth-child(4):hover {
            background-color: hsl(var(--project-4-color), 1);

            svg {
                color: hsl(var(--project-4-star-color), 1);
            }
        }

        .project:nth-child(5):hover {
            background-color: hsl(var(--project-5-color), 1);

            svg {
                color: hsl(var(--project-5-star-color), 1);
            }
        }

        .project:nth-child(6):hover {
            background-color: hsl(var(--project-6-color), 1);

            svg {
                color: hsl(var(--project-6-star-color), 1);
            }
        }

        .project:nth-child(7):hover {
            background-color: hsl(var(--project-7-color), 1);

            svg {
                color: hsl(var(--project-7-star-color), 1);
            }
        }

        .project:nth-child(8):hover {
            background-color: hsl(var(--project-8-color), 1);

            svg {
                color: hsl(var(--project-8-star-color), 1);
            }
        }

        .project:nth-child(9):hover {
            background-color: hsl(var(--project-9-color), 1);

            svg {
                color: hsl(var(--project-9-star-color), 1);
            }
        }

        .project:nth-child(10):hover {
            background-color: hsl(var(--project-10-color), 1);

            svg {
                color: hsl(var(--project-10-star-color), 1);
            }
        }

        .project:nth-child(11):hover {
            background-color: hsl(var(--project-11-color), 1);

            svg {
                color: hsl(var(--project-11-star-color), 1);
            }
        }

        .project:nth-child(12):hover {
            background-color: hsl(var(--project-12-color), 1);

            svg {
                color: hsl(var(--project-12-star-color), 1);
            }
        }

        .project:nth-child(13):hover {
            background-color: hsl(var(--project-13-color), 1);

            svg {
                color: hsl(var(--project-13-star-color), 1);
            }
        }

        .project:nth-child(14):hover {
            background-color: hsl(var(--project-14-color), 1);

            svg {
                color: hsl(var(--project-14-star-color), 1);
            }
        }
    }
}

@media screen and (max-width:550px) {
    .modals__container {

        p {
            white-space: inherit;
        }

        .project_modal:nth-child(3) .modal_content,
        .project_modal:nth-child(4) .modal_content,
        .project_modal:nth-child(14) .modal_content {

            .modal__bar {
                width: 60%;
            }

        }

        .project_modal:nth-child(1) .modal_content,
        .project_modal:nth-child(2) .modal_content,
        .project_modal:nth-child(5) .modal_content,
        .project_modal:nth-child(6) .modal_content,
        .project_modal:nth-child(9) .modal_content,
        .project_modal:nth-child(10) .modal_content,
        .project_modal:nth-child(11) .modal_content,
        .project_modal:nth-child(13) .modal_content {
            .modal__bar {
                margin: 1.2rem 0;
            }
        }
    }
}

@media screen and (min-width:551px) and (max-width:1050px) {
    .modals__container {

        .project_modal:nth-child(3) .modal_content,
        .project_modal:nth-child(4) .modal_content,
        .project_modal:nth-child(12) .modal_content,
        .project_modal:nth-child(14) .modal_content {

            .modal__bar {
                width: 40%;
            }

        }

        .project_modal:nth-child(1) .modal_content,
        .project_modal:nth-child(2) .modal_content,
        .project_modal:nth-child(7) .modal_content,
        .project_modal:nth-child(8) .modal_content,
        .project_modal:nth-child(10) .modal_content,
        .project_modal:nth-child(11) .modal_content {
            .modal_text {
                width: 60% !important;
            }

            p {
                white-space: inherit;
            }
        }

        .project_modal:nth-of-type(6) .modal_content .modal_text,
        .project_modal:nth-of-type(9) .modal_content .modal_text {
            padding: 3rem 7rem 4rem 5rem;

            p {
                white-space: inherit;
            }
        }
    }
}

.modals__container {
    .project_modal:nth-of-type(1) {

        .modal_content {

            .modal_right_content .modal_text {

                h3 {
                    color: #7C4DD0;
                }
            }
        }

    }

    .project_modal:nth-of-type(2) {

        .modal_content {

            .modal_right_content {
                background: #C9C7C8;

                h3 {
                    color: #856163;
                }

                .modal__bar {
                    background-color: #856163;
                }
            }
        }

    }

    .project_modal:nth-of-type(3) {

        .modal_content {

            .modal_right_content {
                background: #D9B7B6;

                h3 {
                    color: #BB676E;
                }

                .modal__bar {
                    background-color: var(--grey);
                }
            }
        }

    }

    .project_modal:nth-of-type(4) {

        .modal_content {

            .modal_right_content {
                background: #E3DDD9;

                h3 {
                    color: #775822;
                }

                .modal__bar {
                    background-color: var(--grey);
                }
            }
        }

    }

    .project_modal:nth-of-type(5) {

        .modal_content {

            h3 {
                color: #C6A443;
            }

            .modal__bar {
                background-color: var(--grey);
            }
        }
    }

}

.project_modal:nth-of-type(6) {

    .modal_content {

        .modal_right_content {
            background: #E4E3E0;

            h3 {
                color: #994554;
            }

            .modal__bar {
                background-color: var(--grey);
            }
        }
    }

}

.project_modal:nth-of-type(7) {

    .modal_content {

        .modal_right_content {
            background: #156EA3;

            p {
                white-space: inherit;
            }

        }
    }

}

.project_modal:nth-of-type(8) {

    .modal_content {

        .modal_right_content {
            background: #50405D;
        }

    }
}

.project_modal:nth-of-type(9) {

    .modal_content {

        .modal_right_content {
            background: #E4E3E0;

            h3 {
                color: #655e7a;
            }

        }
    }

}

.project_modal:nth-of-type(10) {

    .modal_content {

        .modal_right_content {
            background: #BA4A61;

        }
    }

}

.project_modal:nth-of-type(11) {

    .modal_content {

        .modal_right_content {
            background: #729462;
        }
    }

}

.project_modal:nth-of-type(12) {

    .modal_content {

        .modal_right_content {
            background: #56413A;
        }
    }

}

.project_modal:nth-of-type(14) {

    .modal_content {

        .modal_right_content {
            background: #68686B;
        }
    }

}

@media screen and (min-width:900px) {


    .project_modal:nth-of-type(3) {

        .modal_content {

            .modal_right_content .modal_text {
                padding-inline: 9rem;
            }
        }

    }

    .project_modal:nth-of-type(4) {

        .modal_content {

            .modal_right_content .modal_text {
                padding-inline: 9rem;
            }
        }

    }

    .project_modal:nth-of-type(5) {

        .modal_content {

            .modal_right_content .modal_text {
                padding: 5rem 6rem;

                p {
                    white-space: inherit;
                }
            }
        }

    }

    .project_modal:nth-of-type(6) {

        .modal_content {

            .modal_right_content .modal_text {
                padding: 2.5rem 6rem;

                p {
                    white-space: inherit;
                }

                .modal__bar {
                    margin-block: 2rem;
                }
            }
        }

    }

    .project_modal:nth-of-type(7) {

        .modal_content {

            .modal_right_content .modal_text {
                padding: 8rem 6rem;

                p {
                    white-space: inherit;
                }

            }
        }

    }

    .project_modal:nth-of-type(8) {

        .modal_content {

            .modal_right_content .modal_text {
                padding: 8rem 6rem;
            }

        }
    }

    .project_modal:nth-of-type(9) {

        .modal_content {

            .modal_right_content .modal_text {
                padding: 2.5rem 6rem;

                p {
                    white-space: inherit;
                }

                .modal__bar {
                    margin-block: 2rem;
                }
            }
        }

    }

    .project_modal:nth-of-type(10) {

        .modal_content {

            .modal_right_content .modal_text {
                padding: 8rem;

                p {
                    white-space: inherit;
                }

            }
        }

    }

    .project_modal:nth-of-type(11) {

        .modal_content {

            .modal_right_content .modal_text {
                padding: 8rem;

                p {
                    white-space: inherit;
                }
            }
        }

    }

    .project_modal:nth-of-type(12) {

        .modal_content {

            .modal_right_content .modal_text {
                padding: 8rem;


                p {
                    white-space: inherit;
                }

            }
        }

    }

    .project_modal:nth-of-type(13) {

        .modal_content {

            .modal_right_content .modal_text {
                padding: 3.5rem 7rem;

                p {
                    white-space: inherit;
                }
            }
        }

    }

    .project_modal:nth-of-type(14) {

        .modal_content {

            .modal_right_content .modal_text {
                padding: 10rem 9rem;
            }
        }

    }
}




@media screen and (min-width:1500px) {

    .modals__container .project_modal {

        .modal_content .modal_right_content .modal_text {
            padding: 18rem !important;
        }

        .modal_content .modal_right_content .modal_text.illustrated {
            padding: 8rem 15rem 8rem 10rem !important;
            justify-content: center;
        }

        p {
            font-size: 1.6rem;
        }

        h3 {
            font-size: 1.8rem;
        }
    }
}