.container {
    max-width: none;
    padding: 0;
    margin-bottom: 0;
}

.header__left {
    fill: #c0ca80;
    color: #c0ca80;
}

.logo svg {
    color: var(--black);
    fill: var(--black);
}

header .logo .turning__star {
    color: var(--brown);
    fill: var(--brown);
}

.header-container {
    height: max-content;
}

.project {
    display: flex;
    width: 100%;
    position: relative;
    transition: var(--smooth-transition);
    aspect-ratio: 2/1;
}

.project_img {
    width: 50%;
    aspect-ratio: 1/1;
}

.project_content {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 50%;
    aspect-ratio: 1/1;
}

.container-grid {
    display: flex;
    flex-direction: column-reverse;
}

.lateral_content {
    display: none;
}


@media screen and (min-width:1150px) {
    .container-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "projects projects lateral";
        flex-direction: unset;
    }

    .slide img {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .lateral_content {
        grid-area: lateral;
        margin: 0;
        display: block;
        max-height: 100%;
        position: sticky;
        top: var(--header-height);
        height: calc(100vh - var(--header-height));
    }

    .projects_container {
        grid-area: projects;    
    }

    .slide {
        opacity: 0;
        transition: 200ms opacity ease-in-out;
        transition-delay: 200ms;
        max-width: 100%;
    }

    .slide[data-active] {
        opacity: 1;
        z-index: 1;
        transition-delay: 0ms;
    }

    .carousel {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .slide[data-active] {
        opacity: 1;
        z-index: 1;
        transition-delay: 0ms;
    }
}







.project_img {
    overflow: hidden; 
    /* position: relative; */
}

.project_link {
    z-index: 2;
}



.project_content {
    padding: 6rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    flex-direction: column;
}

.projects_container .project:nth-of-type(even) .project_content {
    align-items: flex-start;
    text-align: left;
}

.project_content svg {
    width: 15px;
    height: 15px;
    margin-bottom: 2rem;
}

.project_content p {
    white-space: pre-line;
    margin: 0;
}



/* modals */

.project_modal .modal_content {
    position: fixed;
    background: white;
    height: 0%;
    width: 0%;
    top: 50%;
    left: 50%;
    opacity: 0;
}


.project_modal[data-modal-active] .modal_content {
    transition: var(--smooth-transition);
    opacity: 1;
    width: 65%;
    height: 65%;
    z-index: 6;
    top: 17.5%;
    left: 17.5%;
}


.project_modal .wrapper {
    flex-wrap: nowrap;
    align-items: unset;
}

.modal_left_content {
    width: 55%;
}

.modal_right_content {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
}

.modal_left_img {
    width: 100%;
    height: 100%;
}

.modal_text {
    width: 100%;
    max-height: 100%;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: var(--main-color);
    /* padding: 2rem; */
    text-align: left;
    padding: 0 5rem 7rem;
}

.modal_text.white__text h3, .modal_text.white__text p {
    color: var(--white);
}

.modal_text.white__text .modal__bar {
    background: var(--white);
}

.project_modal p {
    margin: 0;
    font-size: 1.4rem;
    white-space: inherit;
    letter-spacing: 0.4px;
    font-weight: 300;
    line-height: 1.2;
    color: var(--black);
}

.project_modal .project__modal__title {
    font-weight: 500;
    font-size: 1.4rem;
    margin: 0;
    line-height: 1;
}

.modal__bar {
    content: "";
    height: 1px;
    min-height: 1px;
    background-color: var(--black);
    width: 90%;
    margin-block: 2.5rem;
}

.modal_right_img {
    max-height: 100%;
    width: 100%;
    min-height: 100%;
}

.modal_img {
    width: 100%;
    height: 50%;
}

.project_modal {
    pointer-events: none;
}

   
.project_modal[data-modal-active] {
    pointer-events: auto;
}




button[data-modal-button] {
    display: block;
    z-index: 0;
    opacity: 0;
    pointer-events: none;
    top: calc(50% - 15px);
    border: unset;
    background: unset;
    position: fixed;
    z-index: 8;
    transform: translateY(20px);
    padding: 0;
}    

button[data-modal-button] svg {
    height: 30px;
    width: 30px;
    opacity: 1;
}

button[data-modal-button="prev"] {
    left:20%;
}

button[data-modal-button="next"] {
    right: 20%;
}

button[data-modal-button].active {
    pointer-events: auto;
    transform: translateY(0px);
    cursor: pointer;
    transition: opacity .3s ease-out, transform .3s ease-out;
    opacity: .5;
}

button[data-modal-button].active:hover {
    opacity: 1;
}

@media screen and (max-width:1350px) {
    .modal_left_content img {
    height: 100%;
}
 
.project_modal .modal_content {
    top: 50%;
    left: 50%;
}

.project_modal[data-modal-active] .modal_content {
    width: 65%;
    height: 65%;
    top: 17.5%;
    left: 17.5%;
}
}

.small_img {
    filter: grayscale(100%) brightness(90%);
}

.project_link:hover + .small_img, .project_link:focus + .small_img, .project_link:active + .small_img {
    scale: 1.05;
    filter: grayscale(0%) brightness(100%);
}

@media screen and (max-width:1250px) {
    .modal_left_content {
        width: 55%;
    }

    .modal_right_content {
        width: 45%;
    }

    .small_img {
        filter: grayscale(0%) brightness(100%);
    }
}

@media screen and (max-width:1050px) {

    .project_modal[data-modal-active] .modal_content {
        transition-delay: 0s;
        width: 80%;
        height: 70%;
        left: 10%;
        top: 15%;
        bottom: 0%;
        flex-direction: column;
   }

   .modal_left_content {
    height: 60%;
    width: 100%;
    position: relative;
   }

   .modal_right_content {
    height: 40%;
    width: 100%;
    flex-direction: row;
}

    .modal_text {
        position: static;
        height: 100%;
    }

    .modal_right_img{
        height: 100%;
    }

    .modal_img {
        height: 100%;
    }

    button[data-modal-button] {
        display: none;
    }
}


/* @media screen and (min-width:550px) {

} */

@media screen and (max-width:550px) {

       
   .project_modal[data-modal-active] .modal_content {
        transition-delay: 0s;
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
        bottom: 0%;
        flex-direction: column;
   }


    .wrapper {
        flex-direction: column;
    }

    .modal_text {
        width: 70%;
        height: auto;
        padding: 0;
        margin-right: 2rem;
        justify-content: center;
    }

   .modal_left_content {
        height: 60%;
        width: 100%;
        position: relative;
   }

    .project_modal[data-modal-active] .modal_right_content {
        height: 40%;
        width: 100%;
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project_modal[data-modal-active] .modal_text {
        position: static;
        height: 40%;
    }

    .modal_right_img, .modal_img {
        height: 60%;
    }

    .modal_img {
        display: none;
    }

/* responsive grid mobile */

    .project {
        flex-direction: row;
        overflow: hidden;
        max-width: 100%;
        width: 100vw;
        height: auto;
        aspect-ratio: 2/1;
    }

    .project_img {
        width: 50%;
        overflow: hidden;
        height: 100%;
        max-width: 50%;
        aspect-ratio: 1/1;
    }

    .project_content {
        aspect-ratio: 1/1;
        width: 50%;
        height: 100%;
        max-width: 50%;
        padding: 3rem;
        font-size: 1.4rem;
    }

    .project_content svg {
        margin-bottom: 1rem;
    }
}




.project_modal .modal_right_content{
    overflow: hidden;
}


/* animations */

.small_img {
    scale: 1;
    transition: var(--smooth-transition);
    height: 100%;
    width: 100%;
}


/* .modals__container .project_modal:nth-child(1) .project__modal__title {
    color: #7C4DD0;
} */