RewriteEngine On
RewriteBase /

RewriteRule ^index\.html$ / [R=301,L]

RewriteCond %{REQUEST_URI} ^/en/.*\.html$ [NC]
RewriteRule ^en/(.*)\.html$ /en/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^en/(.*)$ /en/$1.html [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^pages/([^/]+)$ pages/$1.html [L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/pages/([^.]+)\.html [NC]
RewriteRule ^pages/([^.]+)\.html$ /pages/$1 [R=301,L]


<IfModule mod_headers.c>
    <FilesMatch "\.(mov|webp|jpg|svg|xml|ico|css|js)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
    <FilesMatch "\.(css|js|htaccess)$">
        Header set Cache-Control "max-age=604800, public, must-revalidate"
    </FilesMatch>
</IfModule>

<Directory /var/www/html>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>

# server insta rewrote

RewriteEngine On
RewriteCond %{REQUEST_URI} ^/instagram/posts
RewriteRule ^(.*)$ http://localhost:3000/$1 [P,L]